<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {{.Site.Title}}
    </title>
    <style>
        * {
            box-sizing: content-box;
        }
        
        img {
            width: 100%;
        }
    </style>
</head>

<body>
    <nav>
        <h1>
            <a href="./">
                {{.Site.Title}}
            </a>
        </h1>
    </nav>

    <article>
        <header>
            <h1>
                {{ .Title }}
            </h1>
        </header>

        <body>
            {{ .Content }}
        </body>
    </article>
</body>

</html>